    
*{ margin:0; border:0 }
body {
   background: url(images/fundo.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed; 
   background-size: cover;	
}

.parent {
  position: relative;
}
.child {
  position: absolute;
  top: 50%;
  height: 100px;
  margin-top: -50px; 
}


#cabecalho{
	background: linear-gradient(to bottom, gray, blue, transparent);
	width:100%;
	height:100px;
}

  
#appearance-select{
      background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-select.gif) no-repeat #354880 ;  
      background-position: 200px center;  
      width: 200px; 
      height:30px; 
      font-family:Arial, Helvetica, sans-serif; 
      font-size:15px; 
      color:#fff; 
      text-indent: 0.01px; 
      text-overflow: "";       
      select::-ms-expand {display: none;}
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(+850%) 	
     	
     
  
}
#voltar {
	
      position: absolute;
      left: 50%;
      top: 100%
      padding: 400px;
      transform: translateX(-50%) translateY(+3780%);


}


#bt {
	
background: transparent;
border: none !important;
   
} 

